/* Basic styles for the body */
body {
    /*overflow-x: hidden; /*removes the scroll bar on the x axis (that appeared due to horizontally oversized image)*/
    font-family: raleway, sans-serif;
    background-color: rgb(245, 245, 245);
}    
.home-icon-sign{ /*workaround to overwrite the placement of this icon as it disappears in the header when used on the "work" page*/
    top:-110px;
    left:-40px;
    transform: scale(0.4); /* Shrinks the element */
}
/* Hero section styles */
.AboutContent {       /*TO FIX THIS TOP, DON'T KNOW WHERE IT'S SET, LOOKS LIKE THE H1 TOP MARGIN DETERMINES*/
    margin-top:6em;
    color:rgba(0, 0, 0, 70%);
}
h1, h3 {
    margin-top: 3em;
    margin-bottom: 2em;
    padding-left:1.5em;
    margin-right:1.5em;
    font-size: 1.1em;
    font-weight: 300;
    color:rgba(0, 0, 0, 60%);
    text-transform: uppercase;
    display: block; 
}
h1 {
    margin-top: 7em;
}
h3 {
    font-size: 1em;
}
.typewriter {
    font-family: 'Special Elite', monospace;
    font-family: 'Courier New', Courier, monospace;
}
article, dl {
    font-size: 1em;
    margin-left: 1.5em;
    margin-right: 1.5em; 
}
p {
    padding-bottom: 1em;
}
dt {
    font-weight: 500;
}
dd {
    padding-left: 2em;
    font-style: italic;
}
.exhib {
    padding-left:2em;    
}
.exhtitle {
    padding-left:3em;
    padding-bottom: 1em;
    font-style: italic;
}
/*.aboutmenupoint {  this part of the header menu is set for every page to highlight which menu-point is displayed on current page
    font-weight: 400;
    color: black;
}*/
